.cart{
    background-color: #ffff49;
    border-radius: 15px;
    position: sticky;
    top: 100px;
    
}
.button-area{
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.cart-items{
    position: sticky;
    top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    height: 50px;
}
    
@media only screen and (max-width: 600px) {
    .button-area{
        display: grid;
        align-items: center;
        justify-content: space-around;
     }
  }